@use "variables" as v;
@use "placeholders";
@use "mixins" as m;
@use "sass:color";

.experience-section {
  padding-top: 5rem;
}
.experience {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;

  &__card {
    position: relative;

    flex-basis: 323px;
    min-width: 315px;

    max-height: 296px;
    min-height: 290px;

    border-radius: 20px;

    overflow: hidden;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
      background: v.$color_blue;
      transform: scale(1.1);

      .experience__card__title {
        background: v.$color_blue;
        transition: all 0.5s ease;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      pointer-events: none;
    }
    &__title {
      height: 8.3rem;
      backdrop-filter: blur(40px);
      background: color.adjust(v.$color_white, $alpha: -0.85);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h4 {
        color: v.$color_white;
        font-family: "Roboto-L";
        font-size: 2.3rem;
        line-height: 30px;
      }
    }
    &::after {
      content: "";
      bottom: 0;
      left: 0;
      transform: translate(-35%, 30%);
      position: absolute;
      min-width: 165px;
      min-height: 95px;
      background: v.$color_white;
      border-radius: 20px;
      rotate: z 10deg;
      cursor: pointer;
    }
    .arrow {
      width: 35.6px;
      height: 22.2px;
      position: absolute;
      left: 10%;
      bottom: 8%;
      z-index: 2;
      cursor: pointer;
    }
  }
}
