@use "variables" as v;
@use "sass:color";
@use "mixins" as m;
@use "placeholders";

.header {
  height: 10rem;
}

.nav.sticky {
  background: color.adjust(v.$color_black, $alpha: -0.7);
  backdrop-filter: blur(10px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  color: v.$color_white;
  border: {
    width: 1px;
    style: solid;
  }
  transition: all 1s ease;

  &:hover {
    background: color.adjust(v.$color_white, $alpha: -0.7);
  }
  @include m.d-flex(space-between, stretch);
  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

    &-link {
      font-weight: 500;

      span {
        font-weight: 700;
      }
    }
  }
  &__links {
    flex-grow: 1;

    .list {
      font-size: 2.2rem;
      @include m.d-flex(start);
      column-gap: 11.2rem;
    }
  }
}

.covid {
  text-align: center;
  &__link {
    font-size: 2.2rem;
  }
}

.nav {
  .covid,
  &__title,
  &__links {
    @include m.d-flex(start, center);
    padding: 2.087%;
    border: {
      right: {
        width: 1px;
        style: solid;
        color: v.$color-white;
      }
    }
  }
}

.nav__title-link,
.list__item-link,
.covid__link {
  @extend %hover-color-black;
}

.globe {
  @include m.d-flex(center, center);
  width: 90px;
  padding: 2.087%;

  &__link {
    &-icon {
      width: 27px;
      height: 28px;
      @extend %hover-color-black-icon;
    }
  }
}

@media (max-width: 796px) {
  html {
    font-size: 50%;
  }
  .nav__links .list {
    column-gap: 3rem;
  }
  .nav__links {
    justify-content: center;
  }
}

@media (max-width: 583px) {
  html {
    font-size: 45.4545%;
  }
  .nav__links .list {
    column-gap: 2.5rem;
  }

  .globe,
  .nav .covid,
  .nav__title,
  .nav__links {
    padding-inline: 1.087%;
  }
}

@media (max-width: 415px) {
  .nav {
    flex-wrap: wrap;
    &__covid-wrapper.covid {
      display: none;
    }
    &__links {
      border-top: 1px solid v.$color_white;
      border-right: 0;
      order: 1;
      padding-block: 0;
      transition: padding v.$animation;
      visibility: hidden;
      position: absolute;
      &.open {
        padding-block: 2.087%;
        visibility: visible;
        position: static;
      }
    }
  }
}
