@use "importer" as i;

@media (max-width: 796px) {
  html {
    font-size: 50%;
  }
  .nav__links .list {
    column-gap: 3rem;
  }
  .nav__links {
    justify-content: center;
  }
}

@media (max-width: 583px) {
  html {
    font-size: 45.4545%;
  }
  .nav__links .list {
    column-gap: 2.5rem;
  }

  .globe,
  .nav .covid,
  .nav__title,
  .nav__links {
    padding-inline: 1.087%;
  }
}
